<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece RPG - Criar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='criar/criar.css')}}">
</head>
<body>
    <div class="field">
        <label for="name">Nome do personagem</label>
        <input type="text" class="nome">
        <label for="senha">Raça</label>
        <input type="text" class="race">
        <label for="senha">Classe</label>
        <input type="text" class="class">
        <label for="senha">Força</label>
        <input type="text" class="str">
        <label for="senha">Destreza</label>
        <input type="text" class="dex">
        <label for="senha">Constituição</label>
        <input type="text" class="const">
        <label for="senha">Inteligencia</label>
        <input type="text" class="int">
        <label for="senha">Sabedoria</label>
        <input type="text" class="wis">
        <label for="senha">Carisma</label>
        <input type="text" class="cha">
        <label for="senha">Vontade</label>
        <input type="text" class="will">
    </div>
    <div class="field">
        <label for="name">HP</label>
        <input type="text" class="hp">
        <label for="senha">AC</label>
        <input type="text" class="ac">
        <label for="senha">Percepção</label>
        <input type="text" class="perception">
        <label for="senha">Fortitude</label>
        <input type="text" class="fortitude">
        <label for="senha">Reflexo</label>
        <input type="text" class="reflex">
        <label for="senha">Vontade</label>
        <input type="text" class="will">
    </div>
    <div class="field">
        <label for="name">Acrobacia</label>
        <input type="text" class="acrobatics">
        <label for="senha">Atletismo</label>
        <input type="text" class="atlethics">
        <label for="senha">Construção</label>
        <input type="text" class="crafting">
        <label for="senha">Enganação</label>
        <input type="text" class="deception">
        <label for="senha">Diplomacia</label>
        <input type="text" class="diplomaci">
        <label for="senha">Intimidação</label>
        <input type="text" class="intimidation">
        <label for="senha">Medicina</label>
        <input type="text" class="medicine">
        <label for="senha">Natureza</label>
        <input type="text" class="nature">
    </div>
    <div class="field">
        <label for="name">Ocultismo</label>
        <input type="text" class="ocult">
        <label for="senha">Performance</label>
        <input type="text" class="performance">
        <label for="senha">Religião</label>
        <input type="text" class="religion">
        <label for="senha">Sociedade</label>
        <input type="text" class="societi">
        <label for="senha">Furtividade</label>
        <input type="text" class="stealth">
        <label for="senha">Sobrevivencia</label>
        <input type="text" class="survival">
        <label for="senha">Furto</label>
        <input type="text" class="thievery">
        <label for="senha">Navegação</label>
        <input type="text" class="navegation">
    </div>
    <div class="field">
        <label for="senha">Nome do Ataque</label>
        <input type="text" class="navegation">
        <label for="senha">Numero de dados</label>
        <input type="text" class="navegation">
        <label for="senha">Numero de lados</label>
        <input type="text" class="navegation">
        <label for="senha">Modificador</label>
        <input type="text" class="navegation">
        <label for="senha">Bonus</label>
        <input type="text" class="navegation">
        <div class="atack">Marcar ataque</div>
        <label for="senha">Imagem</label>
        <input type="file" class="img_char">
        <div class="send">Criar</div>
        
    </div>
    <script src="{{url_for('static',filename='criar/criar.js')}}"></script>
</body>
</html>