<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece RPG - Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login/login.css')}}">
</head>
<body>
    <div class="field">
        <label for="name">Nome de Usuario</label>
        <input type="text" name="name" class="nome">
        <label for="senha">Senha</label>
        <input type="password" class="senha">
        <div class="send">Entrar</div>
    </div>
    <script src="{{url_for('static',filename='login/login.js')}}"></script>
</body>
</html>