<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='map/map.css')}}">
    <title>One Piece RPG - Mapa</title>
</head>
<body>
    <div class="map">
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="char" id="char"></div>
    </div>
    <audio controls loop class="song">
        <source src="{{url_for('static',filename='map/one-piece_opening-1-we-are.mp3')}}">
    </audio>
    <script src="{{url_for('static',filename='map/map.js')}}"></script>
</body>
</html>